* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

section{
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 100px 100px 0;
}



section:before {
    content: '';
    position: absolute;
    font-size: 20vw;
    color: rgba(0,0,0,0.1);
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 900;
    margin-top: 20vh;
}

header{
    position: absolute;
    top: 0;
    left: 0;
    padding: 40px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.sectionOne {
  background: linear-gradient(to bottom, #d509a0,#ff606e);
}

.sectionTwo{
  background: linear-gradient(to bottom, #ff606e, #60d2ff);
}

.sectionThree {
  background: linear-gradient(to bottom, #60d2ff, #7860ff);
}

.logo img {
    max-width: 100px;
}

.toggle {
    width: 30px;
    height: 30px;
    background: url(/menu.png);
    background-size: 30px;
    cursor: pointer;
    background-position: center;
    background-repeat: no-repeat;
}

.content {
    position: relative;
    width: 100%;
    margin-top: 40px;
}

.content .responsiveText {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: row;
    font-size: 50px;
    padding-top: 30px;
    flex-wrap: wrap;
}



section {
    height: 100vh;
    width: 100vw;
    scroll-snap-align: start;
  }

html {
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
}

@media (max-width: 767px){
    header {
        padding: 20px 40px;
    }
    section{
        padding: 40px;
        background: linear-gradient(to bottom, #d509a0, #ff606e);
        overflow-x: hidden;
    }
}

.arrow,
.arrow:before {
  position: absolute;
  left: 50%;
}
.arrow {
  width: 40px;
  height: 40px;
  top: 80%;
  margin: -20px 0 0 -20px;
  -webkit-transform: rotate(45deg);
  border-left: none;
  border-top: none;
  border-right: 2px rgb(2, 2, 2) solid;
  border-bottom: 2px rgb(0, 0, 0) solid;
}
  
.arrow:before {
  content: '';
  width: 20px;
  height: 20px;
  top: 50%;
  margin: -10px 0 0 -10px;
  border-left: none;
  border-top: none;
  border-right: 1px rgb(0, 0, 0) solid;
  border-bottom: 1px rgb(0, 0, 0) solid;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-name: arrow;
}  

@keyframes arrow {
  0% {
    opacity: 1;
    }
  100% {
    opacity: 0;
    transform: translate(-10px, -10px);
  }
}