* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

section{
    position: relative;
    width: 100%;
    min-height: 100vh;
}

.other h1 {
  padding: 5% 5% 5%;
  font-size: 150%;
}





section:before {
    content: '';
    position: absolute;
    font-size: 20vw;
    color: rgba(0,0,0,0.1);
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 900;
    margin-top: 20vh;
}

header{
    position: absolute;
    top: 0;
    left: 0;
    padding: 40px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.sectionOne {
  background: linear-gradient(to bottom, #d509a0,#ff606e);
}

.sectionTwo{
  background: linear-gradient(to bottom, #ff606e, #dde026);
}

.sectionThree {
  background: linear-gradient(to bottom, #dde026, #c2ff60);
}

.sectionFour {
  background: linear-gradient(to bottom, #c2ff60, #60d2ff);
}

.sectionFive {
  background: linear-gradient(to bottom, #60d2ff, #7860ff);
}

.sectionSix {
  background: linear-gradient(to bottom, #7860ff, #df60ff);
}


.logo img {
    max-width: 100px;
}

.toggle {
    width: 30px;
    height: 30px;
    background: url(/menu.png);
    background-size: 30px;
    cursor: pointer;
    background-position: center;
    background-repeat: no-repeat;
}

.content {
    position: relative;
    width: 100%;
    margin-top: 40px;
}

.content .responsiveText {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 50px;
    padding-top: 30px;
    flex-wrap: wrap;
    padding: 12% 12% 1%;
    text-align: center;
}

.smaller {
  font-size: smaller;
  font-weight: lighter;
}


section {
    height: 100vh;
    width: 100vw;
    scroll-snap-align: start;
  }

html {
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
}

@media (max-width: 767px){
    header {
        padding: 20px 40px;
    }
    section{
        padding: 40px;
        background: linear-gradient(to bottom, #d509a0, #ff606e);
        overflow-x: hidden;
    }
}

.arrow,
.arrow:before {
  position: absolute;
  left: 50%;
}
.arrow {
  width: 40px;
  height: 40px;
  top: 80%;
  margin: -20px 0 0 -20px;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  border-left: none;
  border-top: none;
  border-right: 2px rgb(2, 2, 2) solid;
  border-bottom: 2px rgb(0, 0, 0) solid;
}
  
.arrow:before {
  content: '';
  width: 20px;
  height: 20px;
  top: 50%;
  margin: -10px 0 0 -10px;
  border-left: none;
  border-top: none;
  border-right: 1px rgb(0, 0, 0) solid;
  border-bottom: 1px rgb(0, 0, 0) solid;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-name: arrow;
}  

@keyframes arrow {
  0% {
    opacity: 1;
    }
  100% {
    opacity: 0;
    transform: translate(-10px, -10px);
  }
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.responsiveSection { 
    position: relative;
    width: 100%;
    font-size: 50px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
    text-align: center;
    align-content: center;
}



.title {
  position: relative;
  width: 100%;
  font-size: 50px;
  justify-content: center;
  align-content: center;
  text-align: center;
}

.column {

  flex: 40%;
  padding-left: 10%;
}

.columnTwo {
  padding-top: 3%;
  flex: 20%;
}

.columnThree {
  flex: 40%;
  padding-right: 10%;
}

.thirdColumn {
  flex: 40%;
  padding-left: 10%;
}

.thirdColumnThree {
  flex: 40%;
  padding-right: 10%;
}

img {
  max-height: 100%;
  max-width: 100%;
}

p {
  font-weight: lighter;
  font-size: smaller;
}

.titleText {
  vertical-align: top;
  margin-top: 0px;
  bottom: 99%;
}

.revealUp {
  opacity: 0;
  visibility: hidden;
}

.splash {
  position: relative;
  opacity: 1;
}

body {
  overscroll-behavior-y: none;
  overscroll-behavior-x: none;
}